@import 'variables';

.ui-grid-column-menu-button-last-col {
  margin-right: 0px;
}

.ui-grid-menu .ui-grid-menu-inner {
  background: #EEE;
}

.ui-grid-sort-priority-number {
  display: none;
}

.ui-grid-header-cell-wrapper {
  position: relative;
  display: table;
  box-sizing: border-box;
  height: auto !important;
}

.ui-grid-viewport {
  width: 100% !important;
  /*overflow: auto !important;*/
}

.ui-grid-header-cell-label {
  color: @headerTextColor;
  font-weight: 400;
}

[class*=" ui-grid-icon"]:before, [class^=ui-grid-icon]:before {
  color: @headerTextColor;
}

.ui-grid-cell-contents {
  padding: 2px;
}

.ui-grid-contents-wrapper {
  height: auto;
}

input[type=text].ui-grid-filter-input {
  height: 18px;
}

.ui-grid-filter-container .ui-grid-filter-button [class^=ui-grid-icon] {
  margin-top: -0.5em;
  margin-right: -0.8em;
  background-color: #fff;
  right: 1em;
  line-height: 1em;
  bottom: 3px;
  opacity: 1;
  height: 0;
}

input[type=text].ui-grid-filter-input {
  height: 18px;
  line-height: 1;
}

.ui-grid-filter-container {
  padding: 2px;
}

.ui-grid-header-cell-label {
  white-space: normal;
}

[class*=" ui-grid-icon"]:before, [class^=ui-grid-icon]:before {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.ui-grid-row:hover .ui-grid-cell {
  background-color: #FFFF81 !important;
}

div.ui-grid-cell input[type=checkbox] {
  margin: 0 !important;
  width: auto;
}

span[id$='sortdir-text'] {
  position: absolute;
  top: 8px;
  right: 0px;
  font-size: 12px;
  width: 16px;
  height: 13px;
}

/*All the buttons in RMS is overridden with background color as black and fore color as white*/
.ui-grid-column-menu-button {
  right: 0;
  font-size: 12px;
  background-color: @primary-color;
  height: 13px;
  width: 16px;
}

.ui-grid-menu .ui-grid-menu-inner ul li button {
  background: 0 0 !important;
  color: #000;
}

.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button {
  background-color: transparent !important;
  color: #000;
}

.ui-grid-menu-button {
  height: 22px;
  width: 20px;
}

body {
  margin: 0;
}