<!DOCTYPE html>
<html lang="en" data-ng-app="cdkdemos">
<head>
    <style>
        html, body {
            font-family: Roboto;
            font-size: 13px;
        }
    </style>
    <meta charset="UTF-8">
    <title>CDK Table</title>
    <link href="../../css/ui-grid.min.css" rel="stylesheet"/>
    <script src="../../../node_modules/angular-ui-grid/node_modules/angular/angular.min.js"
            type="application/javascript"></script>
    <script src="../../js/ui-grid.min.js" type="application/javascript"></script>
    <script src="../../js/cdk-utilities.js" type="application/javascript"></script>
    <script src="./app.js" type="application/javascript"></script>
</head>
<body data-ng-controller="demoController">
<div ng-click="GetData()">Click</div>
<div ng-click="GetSelectedRows()">SelectedRows</div>
<cdk-table id="MFGTable" class="mar-up" model="data" auto-generate-columns="false" get-template="GetTemplate(value)"
           header-offset="25" max-height="AUTO" row-height="21" export="true" offset-row-height="20" select-row="true"
           menu-options='menuOptions' selected-items="selected" enable-column-resizing="true" show-grid-foot="true"
           get-template="GetTemplate(value)" storage-key-prefix="'1'"
           methods="{'exporttoExcel':exporttoExcel}" selected-rows="gridSelectedRows"
           options="[
                    {columnID:'MANUFACTURER_NAME', columnName:'Manufacturer', width:'AUTO', template:'temp', filterable:true, enableColumnResizing:false},
                    {columnID:'PARTY_NUMBER', columnName:'Party #', width:'AUTO', filterable:true, template:'temp', enableColumnResizing:true},
                    {columnID:'PARTY_NAME',columnName:'Party Name',  width:'AUTO', filterable:true, enableColumnResizing:true},
                    {columnID:'SEGMENT_CODE',columnName:'Sales Segment',  width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'SALES_REGION',columnName:'Sales Region',  width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'LOCATIONTYPE',columnName:'Location type', width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'SINGLE_POINT',columnName:'Single Point', width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'CORPORATION_NAME',columnName:'Corporation', width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'GROUP_NAME',columnName:'Group',  width:'AUTO' , filterable:true, enableColumnResizing:false},
                    {columnID:'COBALT_ACCOUNT_NUMBER',columnName:'Cobalt #', width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'INSTALLEDDMSCDKCLIENT', columnName:'installed CDK DMS',  width:'AUTO',filterable:true, enableColumnResizing:false},
                    {columnID:'EXISTINGPARTYCHECK', columnName:'Existing Party Check',  width:'AUTO',filterable:true, enableColumnResizing:false},
                    {columnID:'EXISTINGPARTYNUM', columnName:'Existing party #', width:'AUTO',filterable:true, enableColumnResizing:false},
                    {columnID:'UNDER_CONSTRUCTION', columnName:'UC',  width:'AUTO', filterable:true, enableColumnResizing:false},
                    {columnID:'UNDER_CONSTRUCTION_DATE', columnName:'UC Date', width:'AUTO', filter:'formatDate', enableColumnResizing:false},
                    {columnID:'OUT_OF_BUSINESS', columnName:'OOB', width:'AUTO', enableColumnResizing:false},
                    {columnID:'OUT_OF_BUSINESS_DATE', columnName:'OOB Date', filter:'formatDate', width:'AUTO', enableColumnResizing:false},
                    {columnID:'ADDRESS1', columnName:'Addr Line1', width:'AUTO',filterable:true, enableColumnResizing:false},
                    {columnID:'CITY', columnName:'City', width:'70', filterable:true, enableColumnResizing:false},
                    {columnID:'STATE', columnName:'State', width:'30', filterable:true, enableColumnResizing:false},
                    {columnID:'COUNTY', columnName:'County', width:'40',filterable:true, enableColumnResizing:false},
                    {columnID:'COUNTRY', columnName:'Country', width:'40',filterable:true, enableColumnResizing:false},
                    {columnID:'POSTAL_CODE', columnName:'Postal Code', width:'50',filterable:true, enableColumnResizing:false}
                    ]"></cdk-table>
</body>
</html>